{extend name="layout" /}
{//中间块}
{block name="content"}


<div class="bg-body-light">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-alt push">
            <li class="breadcrumb-item">
                <a href="{:url('/vip/cadmin/clear_server_list')}">用户服务进度表</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">待结算订单({notempty
                name="$page"}{$data_list->total()|raw}
                {else/}{$data_list|count} {/notempty} 条)
            </li>
        </ol>
    </nav>
</div>

<div>
    <div class="row">
        <div class="col-md-12 col-xl-12">

            <div class="block">


                <div class="block-header">
                    <h3 class="block-title">

                    </h3>
                    <div class="block-options">

                        <div class="btn-group">
                            <div class="dropdown-menu dropdown-menu-right">
                                <div role="separator" class="dropdown-divider"></div>
                                <a data-toggle="modal" data-target="#setbiaoge"
                                   class="dropdown-item btn btn-sm  btn-light ajax-post exceldown"><i
                                        class="fa fa-user-cog"></i> 表格自定义设置 </a></div>
                        </div>
                        <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"
                                class="btn btn-sm btn-light"><i class="si si-size-fullscreen"></i></button>
                    </div>
                </div>


                <div id="order_list">

                    <!-- new 订单列表内容  包含  start -->
                    <div class="table-responsive" id="table_view">
                        <table id="general-table"
                               class="table table-builder table-bordered table-hover table-striped table-vcenter js-table-sections js-table-checkable font-size-sm mb-0 js-table-checkable-enabled js-table-sections-enabled">
                            <thead>
                            <tr>
                                <!--                                <th class="text-center" style="width: 30px;">-->
                                <!--                                    <div class="custom-control custom-checkbox custom-control-primary d-inline-block">-->
                                <!--                                        <input type="checkbox" class="custom-control-input" id="check-all"  name="check-all">-->
                                <!--                                        <label class="custom-control-label" for="check-all"></label>-->
                                <!--                                    </div>-->
                                <!--                                </th>-->
                                <th class="text-nowrap " style="width: 70px;">用户ID</th>
                                <th class="text-nowrap " style="width: 70px;">用户名</th>

                                <th class="text-nowrap" style="width: 170px;">订单ID</th>
                                <th class="text-nowrap" style="width: 70px;">待扣款</th>
                                <th class="text-nowrap">待退款</th>
                                <th class="text-nowrap">订单金额</th>
                                <th class="text-nowrap">待完成</th>
                                <th class="text-nowrap">添加时间</th>
                                <th class="text-nowrap">操作</th>

                            </tr>
                            </thead>
                            <tbody class="js-table-sections-header">
                            {notempty name="$data_list"}
                            {volist name="data_list" key ="key" id="row"}
                            <tr>
                                <!--                                <td class="text-center">-->
                                <!--                                    <div class="custom-control custom-checkbox custom-control-primary d-inline-block">-->
                                <!--                                        <input type="checkbox" class="ids custom-control-input" id="row_{}" name="ids[]" value="{}">-->
                                <!--                                        <label class="custom-control-label" for="row_{}"></label>-->
                                <!--                                    </div>-->
                                <!--                                </td>-->
                                <!--                                    <td class="text"><a href="{:url('vip/Cadmin/server_list',array('id'=>''))}">{$row.username}</a></td>-->
                                <td class="text">{$row.user_id}</td>
                                <td class="text">{$row.username}</td>

                                <td class="text">{$row.id}</td>
                                <td class="text">{$row.shou_amount}</td>
                                <td class="text">{$row.tui_amount}</td>
                                <td class="text">{$row.total}</td>
                                <td class="text"><a href="{:url('vip/Cadmin/server_list',array('order_id'=>$row.id))}">{$row.no_complete_server}</a>
                                </td>
                                <td class="text">{$row.add_time|date='Y-m-d H:i:s'}</td>
                                <td class="text">
                                    {if $row.no_complete_server > 0}
                                    <button type="button" class="btn btn-sm btn-info"
                                            onclick='manual_check("{$row.id}")'>
                                        <span class="d-sm-inline ml-1">手动结单</span>
                                    </button>
                                    {else/}
                                        <span class="btn btn-sm btn-info" style="background-color:#8f8f8f">等待结算</span>
                                    {/if}
                                </td>
                            </tr>
                            {/volist}
                            {else /}
                            <tbody>
                            <tr class="table-empty">
                                <td class="text-center empty-info" colspan="7">
                                    <button type="button" class="btn btn-sm btn-light" data-toggle="modal"
                                            data-target="#addsnlist">
                                        <i class="fa fa-database"></i> 亲，当前没有要结算的数据！
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            {/notempty}
                            </tbody>

                        </table>

                        <!-- 分页开始 -->
                        {notempty name="$page"}
                        {$page|raw}
                        {/notempty}

                        <div class="blank10"></div>
                        <!-- 分页 END -->

                    </div>
                    <!--  订单列表内容 包含 end   -->


                    <!--  以下是军原来的表格代码 包含 --------------以下是军原来的表格代码 包含 以下是军原来的表格代码 包含 以下是军原来的表格代码 包含 以下是军原来的表格代码 包含 以下是军原来的表格代码 包含 --------------------------------- -->


                </div>
            </div>
        </div>

    </div>

</div>
</div>
</div>


{//中间内容}
<!-- Table -->

<!-- END Table -->

{//测试模板}

{//模块}
{//智能添加}


{//智能添加}


{//模块}

{/block}

{block name="script"}
<script src="__ADMIN_T__/assets/js/aiguovip.js"></script>

{// 错误提示框 }
<script src="__ADMIN_T__/assets/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
{// 提示框sweetalert2 }
<link rel="stylesheet" href="__ADMIN_T__/assets/js/plugins/sweetalert2/sweetalert2.min.css">
<script src="__ADMIN_T__/assets/js/plugins/es6-promise/es6-promise.auto.min.js"></script>
<script src="__ADMIN_T__/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
{// X-editable 4.0版本}
<script src="__ADMIN_T__/assets/js/table.js"></script>
<script>
    var wxlist = [];
    var casewxlist = [];
</script>
<script>

    $('tbody .text-nowrap a').click(function () {
        var name = $(this).attr('name');
        advance_checkrepairs(name, 'wx', 'd');
    });

    function manual_check($order_id) {
        $.post(
            "{:url('vip/Cadmin/manual_check')}",
            {
                order_id: $order_id
            },
            function (data) {
                if (data.code == 0) {
                    AAiguovip.notify(data.message, 'success');
                    window.location.reload();
                } else {
                    AAiguovip.notify(data.message, 'danger');
                }

            },
            'json'
        );
    }
</script>
<script src="__ADMIN_T__/assets/js/check.js"></script>
<script>jQuery(function () {
    One.helpers(['table-tools-checkable', 'table-tools-sections']);
});</script>
{/block}