
{//添加说明 帮助说明 }
<div class="modal fade" id="modal-addsnlist" tabindex="-1" role="dialog" aria-labelledby="modal-addsnlist"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title">智能添加帮助</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <p>1.<code>自动识别以下两种格式！</code></br>
                        DNPQVM**GRY7</br>
                        355420079898722 DNPQVMM**RY7</br>
                        355420079898 </br>
                    </p>
                    <p>尽量添加IMEI号,系统免费带出SN，人性上传更自由
                    </p>
                    <p><code>

                    </code></p>
                </div>
                <div class="block-content block-content-full text-right bg-light">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">明白</button>
                </div>
            </div>
        </div>
    </div>
</div>

