{extend name="layout" /}
{//中间块}
{block name="content"}
<div class="bg-body-light">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-alt push">
            <li class="breadcrumb-item">
                <a href="{:url('/vip/lists')}">经销商管理</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">({notempty name="$page"}{$data_list->total()|raw}
                {else/}{$data_list|count} {/notempty} 个)</li>
        </ol>
    </nav>
</div>
{//中间内容}


 
<div class="content">
        <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h3 class="font-w300 push-15">不存在后缀收集</h3>

                
                {volist name="bughou4" key ="key" id="vo"}
                 {$vo}</br>
                {/volist}
                {volist name="bugwxid" key ="key" id="vo"}
                {$vo}</br>
                {/volist}

            </div> 
    <div class="block">



        <div class="block-content">      

            {notempty name="$Request.param.soso"}

            <div class="font-size-h4 font-w600 p-2 mb-4 border-left border-4x border-primary bg-body-light">
                <span class="text-primary font-w700">搜索内容：</span> <mark>{$Request.param.so}</mark>
            </div>
            {/notempty}
            <div class="table-responsive">
                {//table-striped 黑色背景 table-bordered格子}
                <table id="general-table"
                    class="table table-builder js-table-sections table-bordered table-striped table-vcenter js-table-checkable">
                    <thead>
                        <tr>
                            {php}
                            //获取筛选匹配 是否按钮
                            //哈哈哈 写出数组 不知道为什么还没成功
                            if (!empty(request()->param('_filter'))) {
                            $_filter = request()->param('_filter');
                            $_filter_arr = array_filter(explode('|', $_filter), 'strlen');
                            foreach ($_filter_arr as $v1){
                            $saixuananniu[$v1]='true';
                            }
                            }
                            {/php}
                            <th class="text-center" style="width: 30px;">
                                <div class="custom-control custom-checkbox custom-control-primary d-inline-block">
                                    <input type="checkbox" class="custom-control-input" id="check-all" name="check-all">
                                    <label class="custom-control-label" for="check-all"></label>
                                </div>
                            </th>
                            <th class="text-center" style="width: 30px;">#</th>
                            <th class="text-nowrap" style="width: 40px;">类型</th>
                            <th class="text-nowrap" style="width: 40px;">参数</th>
                            <th>状态</th>
                            <th class="text-nowrap">时间</th>
             
                      
                        </tr>
                    </thead>
                    <tbody>
                        {notempty name="$data_list"}
                        {volist name="data_list" key ="key" id="vo"}
                        {//js-table-sections-header 点击展开}
                    <tbody class="js-table-sections-header">
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox custom-control-primary d-inline-block">
                                    <input type="checkbox" class="ids custom-control-input" id="row_{$vo.id}"
                                        name="ids[]" value="{$vo.id}" />
                                    <label class="custom-control-label" for="row_{$vo.id}"></label>
                                </div>
                            </td>
                            <td class="text-center">{$vo.id}</td>
                            <td class="text-nowrap">{$vo.sn_hou}</td>
                            <td class="text-nowrap">{$vo.sn}</td>
                            
                            <td class="text-nowrap">{$vo.wid}</td>  
                            <td class="text-nowrap">{$vo.wx_ztai_id}</td>     
                            <td class="text-nowrap">{$vo.wx_jindutime}</td> 
                            <td class="text-nowrap">{$vo.wx_time}</td> 
                            <td class="text-nowrap">{$vo.ctime}</td> 
                            
                                             
                        </tr>

                        <tbody>               
    
                        </tbody>

                    </tbody>            
                    {/volist}
              
                    {else /}
                    <tbody>
                        <tr class="table-empty">
                            <td class="text-center empty-info" colspan="7">
                                <button type="button" class="btn btn-sm btn-light" data-toggle="modal"
                                    data-target="#addsnlist">
                                    <i class="fa fa-database"></i> 当前列表没有管理设备，点击我或者右上角<code>添加</code>按钮。
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    {/notempty}
                    </tbody>
                    </tbody>
                </table>
                {//分页}
        
                {notempty name="$page"}               
                    {$page|raw}               
                {/notempty}
    
            </div>
        </div>



    </div>



    <!-- END Message List -->

</div>

{//中间内容}
<!-- Table -->

<!-- END Table -->

{//测试模板}

{//模块}
{//智能添加}
<div class="modal fade" id="addsnlist" tabindex="-1" role="dialog" aria-labelledby="addsnlist" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideright" role="document">{//modal-dialog-top 上}
        <div class="modal-content">
            <form class="" name="form-builder" action="{:url('vip/vadmin/xhaoadd')}"
                method="post">
                <div class="block block-themed block-transparent mb-1">
                    <div class="block-header bg-primary">
                        <h3 class="block-title">
                            <i class="fa fa-pencil-alt mr-1"></i> 智能添加
                        </h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div class="block-content">
                        <div class="form-group">
                            <label for="message-msg">智能添加</label>
                            <textarea class="form-control" id="textbox" name="textbox" rows="8"
                                placeholder="型号格式表中复制"></textarea>
                          
                        </div>
                        <div class="form-group">

                        </div>
                    </div>
                    <div class="block-content block-content-full text-right border-top">
                        <button type="button" class="btn btn-sm btn-link mr-2" data-dismiss="modal">取消</button>
                        <button class="btn btn-minw btn-primary ajax-post" target-form="form-builder"
                            type="submit">智能添加</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{//智能添加}


{//模块}

{/block}

{block name="script"}
<script src="__ADMIN_T__/assets/js/aiguovip.js"></script>
{// 错误提示框 }
<script src="__ADMIN_T__/assets/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
{// 提示框sweetalert2 }
<link rel="stylesheet" href="__ADMIN_T__/assets/js/plugins/sweetalert2/sweetalert2.min.css">
<script src="__ADMIN_T__/assets/js/plugins/es6-promise/es6-promise.auto.min.js"></script>
<script src="__ADMIN_T__/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
{// X-editable 4.0版本}
<script src="__ADMIN_T__/assets/js/table.js"></script>
<script src="__ADMIN_T__/assets/bootstrap4-editable/js/bootstrap-editable.js"></script>
<link href="__ADMIN_T__/assets/bootstrap4-editable/css/bootstrap-editable.css" rel="stylesheet">


<script>jQuery(function () { One.helpers(['table-tools-checkable', 'table-tools-sections']); });</script>
{/block}